<!-- Title -->
<div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
    <div class="p-6">
        <!-- <div class="text-secondary font-medium">1 pending, 4 completed</div> -->
        <div class="text-2xl font-extrabold tracking-tight leading-none">Tus alumnos</div>

        <br>

        <div class="relative">
            <ng-container>

                <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                    <span class="">A</span>
                </div>

            </ng-container>
            <!-- Nombre -->
            <div class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b">
                Abraham Ramírez
            </div>
            <ng-container>

                <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                    <span class="">R</span>
                </div>

            </ng-container>
            <!-- Nombre -->
            <div class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b">
                Ronaldo Cabrera
            </div>


            <!-- No contacts -->
            <ng-template>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No tienes alumnos inscritos</div>
            </ng-template>

        </div>
    </div>
    <!-- <div class="ml-0.5 font-medium text-secondary">
        <ng-container *ngIf="contactsCount > 0">
            {{contactsCount}}
        </ng-container>
        {{contactsCount | i18nPlural: {
        '=0'   : 'No contacts',
        '=1'   : 'contact',
        'other': 'contacts'
    } }}
    </div> -->
</div>